/* @font-face {
    font-family: 'roboto';
    src: url('/src/app/fonts/roboto.ttf') format('truetype');
    font-weight: 500;
    font-style: medium;
    font-size: 17px;
}

@font-face {
    font-family: 'roboto2';
    src: url('/src/app/fonts/roboto.ttf') format('truetype');
    font-weight: 500;
    font-style: medium;
    font-size: 15px;
} */

.drawer-label {
    font-family: 'Geist';
    white-space: nowrap !important;
}

.drawer-labell {
    font-family: 'Geist';
    white-space: nowrap !important;
    margin-left: 40px;
}

.drawer-label1 {
    font-family: 'Geist';
    white-space: nowrap !important;
    margin-left: 18px;
}


.reason {
    font-family: 'Geist';
}

.input-time-field {
    font-family: 'Geist';
    padding: 4px;
    border-radius: 4px;
    border: none;
    background-color: #E9ecef;
    text-align: center;
    color: #171616;

}

.label-container {
    border: none;
    outline: none;
    width: 120px;
    padding: 3px;
    text-align: center;
    display: flex;
    background-color: #EDF1F4;
    border-radius: 4px;
}

.label-container .login-label {
    color: #0F62EE;
    font-family: 'Geist';
    font-size: 15px;
}

.label-container2 {
    border: none;
    outline: none;
    width: 120px;
    padding: 5px;
    text-align: center;
    display: flex;
    background-color: #FFE4E3;
    border-radius: 4px;
    
}

.break11-label,
.label-container2 .break1-label {
    color: #ED3B2F;
    font-family: 'Geist';
    font-size: 15px;
}

.label-container3 {
    border: none;
    outline: none;
    width: 120px;
    padding: 5px;
    text-align: center;
    display: flex;
    background-color: #FCF2D6;
    border-radius: 4px;
}

.lunch-in-label {
    font-family: 'Geist';
    color: #FDAA00;
}

.break11-label {
    white-space: nowrap;
    font-size: 15px;
}

.break22-label {
    white-space: nowrap;
    font-size: 14px;
}

.label-container4 {
    background-color: #EDF4ED;
    border: none;
    outline: none;
    width: 120px;
    padding: 5px;
    text-align: center;
    display: flex;
    border-radius: 4px;
}

.break22-label,
.break2-label {
    font-family: 'Geist';
    color: #31A750;
}

.break2-label {
    font-size: 15px;
}

.label-container5 {
    background-color: #EDF1F4;
    border: none;
    outline: none;
    width: 120px;
    padding: 5px;
    text-align: center;
    display: flex;
    border-radius: 4px;
}

.logout-label {
    color: #0F62EE;
    font-family: 'Geist';
    font-size: 15px;
}
