/* @import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Cinzel:wght@400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+IN:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.addemployee-form {
  width: 100%;
}

.manage-label {
  color: white !important;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.form-field {
  flex: 1 1 300px;
  max-width: 100%;
  min-width: 200px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
}

.form-field input,
.form-field select {
  width: 100%;
}

.legends {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  font-weight: bolder;
}

.firstbreak {
  padding: 10px;
  font-family: sans-serif;
  background-color: #ffffb7;
  text-align: center;
  margin-right: -90px;
}

.secondbreak {
  padding: 10px;
  font-family: sans-serif;
  background-color: #ffeda6;
  text-align: center;
  margin-left: 92px;
  margin-right: 2px;
}

.lunchbreak {
  padding: 10px;
  font-family: sans-serif;
  background-color: #a9e4ff;
  margin-right: 2px;
}

.overbreak {
  padding: 10px;
  color: red;
  font-family: sans-serif;
  background-color: #ffdccc;
  text-align: center;
}

.totalbreak {
  padding: 10px;
  margin-left: 10px;
  font-family: sans-serif;
  background-color: #b3efb2;
  text-align: center;
}

.alarm {
  padding: 4px;
}



@media (min-height: 782px) {
  .legends {
    font-size: small !important;
  }

  /* .logs-total {
    font-size: small !important;
  } */
}

@media (max-height: 400px) {
  .b-repodrts1 {
    height: 100% !important;
  }
}

@media (max-width: 991px) {
  .addemployee-form {
    overflow-x: auto;
  }

  .fixed-field {
    flex: 1 1 100%;
    min-width: 100%;
  }
}

@media (min-width: 992px) {

  .modal-lg,
  .modal-xl {
    --bs-modal-width: 1px;
  }
}

@media (min-width: 996px) {

  .modal-lg,
  .modal-xl {
    --bs-modal-width: 320px;
  }
}

@font-face {
  font-family: 'roboto';
  src: url('././fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

.nav-font {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fbfff1;
  letter-spacing: 0.50px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.nav-font:hover {
  color: #f8f9fb;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html,
body {
  max-width: 100vw;
  background-color: #e7e7e7;
  overflow-x: hidden;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.workforce {
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* LOG IN FORM */

.password-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  max-width: 300px;
  background-color: #f9f9f9;
}

.password-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}

.toggle-password-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  font-size: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.toggle-password-button:hover {
  color: #333;
}

.password-input:focus {
  background-color: #fff;
}

.main-div {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  background-image: url("/img/Group5.png"), url("/img/Group4.png");
  background-repeat: no-repeat;
  background-size: 23% auto, 25% auto;
  background-position: 37% 25%, 58% 75%
}

.login-div {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 5px rgb(87, 86, 86);
  backdrop-filter: blur(0);
  border-radius: 6px;
  padding: 20px 20px 85px 20px;
  width: 390px;
  height: 470px;
  display: block;
  justify-content: center;
  align-items: center;
  border: none !important;
  outline: none !important;
  place-items: center;
}

.login-div label {
  color: rgb(58, 58, 58);
  display: block;
}

.login-div input {
  font-size: 14px;
  padding: 10px !important;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 20px;
  outline: none;
  width: 300px;
  margin-top: 5px;
}

.login-div button {
  padding: 3px;
  text-align: center;
}

input:focus {
  border-color: #0a63d8;
}

.ecomialogo-footer>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ecomialogo-footer img {
  width: 80px;
  height: 30px;
  transform: translateY(30px);
}

.login-logo {
  width: 105px;
  height: 80%;
}

.poweredby-label {
  font-size: 10px;
  font-weight: bold;
  transform: translateY(30px);
}

.inputfields {
  position: relative;
  display: flex;
}

.inputfields input {
  background-color: white;
}

.eye {
  position: absolute;
  border: none;
  background-color: transparent;
  box-sizing: none;
  cursor: pointer;
  margin-left: 290px;
  margin-top: 12px;
}

.inp-lab input {
  background-color: white !important;
}

.eyetoggle {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-70%);
  cursor: pointer;
  padding: 15px;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.updatepassword-input {
  padding-right: 40px;
  box-sizing: border-box;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
  display: flex;
  align-items: center;
}

.newpass-eyetoggle svg {
 position: absolute;
 transform: translateY(10px) translateX(-25px);
}

.button-login {
  background-color: #008dcc;
  color: #ffffff;
  border: none;
  padding: 10px !important;
  border-radius: 4px !important;
  cursor: pointer;
  font-weight: 600;
  padding-top: 5px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-login:hover {
  background-color: #0274a8;
}

.button-login:active {
  transform: scale(0.95);
  background-color: #1fe651;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

.modal .error-message {
  color: red;
  margin-left: 15px;
  margin-bottom: 15px;
}

.success-message {
  color: rgb(6, 168, 46);
  text-align: center;
  margin-bottom: 15px;
}

.search12 {
  max-width: 330px;
  margin-top: 1px;
  width: 25rem;
  padding: 7px 5px 7px 65px !important;
  border-radius: 5px;
  border: 2px solid #ccc;
  box-shadow: 0 2px 4px rgba(97, 97, 97, 0.1);
  background-color: rgb(240, 240, 240);
  color: #000000 !important;

}

/* SEARCH BAR */
.headerbreaktool {
  color: white;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  font-weight: 850;
  line-height: 1;
  top: 50%;
  left: 50%;
  padding-left: 250px;
  white-space: nowrap;
  transform: translate(0px, -3px);
}

.headerdown {
  color: white;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding-left: 250px;
  transform: translateY(-6px);
  font-style: italic;
}

.header {
  background-color: #ffffff;
  height: 80px;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 50px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.left-section {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

.db-poweredby {
  font-size: 10px;
  font-weight: bold;
  color: white;
  transform: translateX(30px) translateY(-21px);
}

.searchbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbar-container {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.searchbar-container svg {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-60%);
  pointer-events: none;
  color: #888;
}

.searchbar-container1 {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.searchbar-container1 svg {
  position: absolute !important;
  left: 20px !important;
  top: 50px !important;
  transform: translateY(-42px) !important;
  pointer-events: none;
  color: #888;

}

.search-input1 {
  color: black !important;
}

.acc-head input {
  justify-content: center;
}

@media only screen and (max-width: 1020px) {
  .emp-table {
    font-size: small !important;
  }
}

@media only screen and (max-width: 991px) {
  .tablogs {
    width: calc(100% + 1000px) !important;
  }

  .manage-table {
    width: calc(100% + 1000px) !important;
  }

  .tabbreaks {
    width: calc(100% + 100px) !important;
  }
}

@media only screen and (min-width: 400px) {
  .login-logo {
    width: 100px !important;
  }

  .searchbar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .searchbar-container1 {
    justify-content: space-between;
  }

  .modal-content {
    width: 100% !important;
  }

  .updatepassword-input1 {
    width: 90% !important;
  }

  .actions {
    display: flex;
  }

  .db-reports1 {
    min-height: 120vh !important;
  }

  .main-divv {
    width: 100% !important;
  }

  .table-data {
    font-size: smaller !important;
  }

  .tabreport {
    width: 100% !important;
  }

  .tablogs {
    white-space: nowrap;
  }

  .agent-header {
    font-size: 20px !important;
    width: 100% !important;
  }

  .logs-headername {
    font-size: 20px !important;
  }

  .download-reports button {
    font-size: small;
    margin-top: -37px !important;
    padding: 8px;
    width: 7% !important;

  }

  .form-control {
    color: black;
  }

  .form-label {
    margin-bottom: .5rem;
  }

  .bi-search {
    transform: translateY(-2px);
  }

  .report-icon {
    transform: translateX(-20px) translateY(2px);
  }

  .reportss {
    height: 620px !important;
    overflow-y: auto !important;
    width: 100% !important;
  }

  .tabbreaks {
    margin-top: 13px !important;
  }

  .breaks-icon {
    transform: translateY(27px) translateX(-135px);
  }

  .logs-icon {
    transform: translateY(-23px) translateX(-335px) !important;
  }

  .employee-icon {
    transform: translateY(-1px) !important;
  }

  .accounts-icon {
    transform: translateX(-90px) translateY(-2px) !important;
  }
}

.searchbar3 {
  padding: 8px 12px 8px 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #000000;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 5px;
  max-width: 400px;
  min-width: 0;
}


/* This triggers when screen width is 688px or less */
/* @media screen and (max-width: 688px) {
  .searchbar3 {
    width: auto;
    padding-left: 40px;
    font-size: 13px;
  }
} */


.searchbar {
  padding: 7px 5px 7px 65px !important;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(97, 97, 97, 0.1);
  background-color: #f0f0f0;
  color: #000000;
  font-family: sans-serif;
  margin-bottom: 3px;
  padding-left: 34px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

.searchbar12 {
  padding: 8px 12px 8px 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #000000;
  width: 100%;
  max-width: 400px;
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 5px;
  min-width: 0; /* allow shrinking beyond intrinsic size */
}
.searchbar-containerr {
  flex: 1;
  min-width: 0; /* crucial for allowing shrinking */
  position: relative;
}

.search12:focus {
  background-color: #008dcc !important;
}

.searchbar0 {
  padding: 8px 12px 8px 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #000000;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 5px;
  min-width: 400px;
}
@media only screen and (max-width: 731px) {
  .searchbar0 {
    min-width: 250px; 
  }
}

.newpass {
  width: 100%;
  max-width: 400px;
  text-align: start;
}

.newpass input {
  color: black;
  background-color: white;
}

.currentpass {
  width: 100% !important;
  max-width: 400px;
  text-align: start;
}

.currentpass input {
  color: black;
  background-color: white;
}

.confirmpass {
  width: 100%;
  max-width: 400px;
  text-align: start;
}

.confirmpass input {
  color: black;
  background-color: white;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  transition: opacity 0.3s ease !important;
  opacity: 1;
  z-index: 9999;
}

.searchbarr {
  padding: 7px 5px 7px 65px !important;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(97, 97, 97, 0.1);
  background-color: #f0f0f0;
  color: #000000;
  width: 100%;
  padding-left: 40px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

.searchbar:focus {
  color: #000000;
}

.searchbar-containerr svg {
  position: absolute;
  left: 17px;
  top: 50%;
  pointer-events: none;
  color: #888;
  transform: translateY(-50%);
}
.searchbar-containerrr {
  position: relative;
}

.searchbar-containerrr svg {
  position: absolute;
  left: 17px;
  top: 50%;
  pointer-events: none;
  color: #888;
  transform: translateY(-9px) ;
}

.bi-search {
  pointer-events: none;
  color: #8b8b8b;
  width: 28px;
  height: 28px;
  background-color: rgb(216, 216, 216);
  border-radius: 20px;
  position: absolute;
  left: 15px;
  top: 8px;
}

.agent-header {
  text-align: left !important;
  width: 400px;
  margin: 0;
  font-weight: bold;
  font-size: 23px;
  font-family: sans-serif;
  margin-right: 10px;
}

.shield-icon {
  margin-right: 24px;
  font-size: 18px;
}

/* header-icons */
.create-update-delete {
  justify-content: flex-start;
  margin-right: 20px;
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
  margin-top: 10px;
}

.update-pass {
  min-width: 290px;
  width: 100% !important;
  padding: 7px;
  border: none;
  color: #ffffff;
  background-color: #045fc7;
  border-radius: 4px;
}

.update-pass:hover {
  background-color: #0d65c9;
}
.right-section {
  display: flex;

  margin-right: 7rem;
  border-radius: 50px;
}

.dropbtn button {
  display: block;
}

.dropdown {
  position: relative;
  display: flex;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
  display: block;
}

.dropdown-content a:hover {
  background-color: #d8d7d7c9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #d8d7d7c9;
}

/* breaks div */
.breaks-table {
  height: auto;
}

.breaks-table th {
  background-color: #4cbdff !important;
  font-family: sans-serif;
}

.breaks-div {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.breaks-div.fullscreen {
  margin: 0;
  position: absolute;
  padding-top: 80px;
  top: -60px;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 107%;
  min-height: 100vh;
}

/* logs main div */
.logs-wrapper {
  background-color: #e7e7e7;
}

.logs-wrapper .table-striped>tbody>tr:nth-of-type(odd)>* {
  background-color: #ffffff;
  --bs-table-color-type: #ffffff;
  --bs-table-bg-type: #ffffff;
  color: black;
}

.logs-wrapper .table-striped>tbody>tr:nth-of-type(even)>* {
  background-color: #e2f0f7;
}

.table-striped th {
  background-color: #4cbdff;
}

.logs-maindiv {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.logs-container th {
  background-color: #4cbdff !important;
  font-family: sans-serif;
}

.logs-container thead {
  position: sticky;
  top: 0;
}

.logs-table {
  margin-bottom: 10px;
  justify-content: space-between;
}

.logs-total {
  background-color: #b3efb2;
  padding: 7px;
  width: 110px;
  justify-content: center;
  height: 37px;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
}

.logs-headername {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.searchbarlogs {
  position: relative;
}

.searchbarlogs input {
  padding: 5px 70px 10px !important;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
  background-color: #f0f0f0;
  border: 2px solid lightgray;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  margin-right: 20px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  border-radius: 30px;
  padding: 16px;
}

/* account  */
.login-division {
  margin-left: 30px;
}

/* generate report */
.report-header {
  white-space: nowrap;
}

.report-data td {
  white-space: nowrap;
}

.background-report {
  border-radius: 4px;
  margin: 22px auto;
  width: 100% !important;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.2);
}

.daterange-button {
  width: 70px;
  padding: 6px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #0ebb39;
  transition: background-color 0.3s ease
}

.daterange-button:hover {
  background-color: #22af10;
  transform: scale(0.95)
}

.table-data {
  font-size: smaller;
}

.input-daterange {
  display: flex;
}

.start {
  display: flex;
}

.start label {
  margin-right: 5px;
  margin-top: 5px;
}

.end {
  display: flex;
}

.end label {
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 5px;
}

.report-button button {
  background-color: #0ebb39;
  margin-left: 5px;
}

.modal-dialog {
  --bs-modal-width: 340px;
  max-width: var(--bs-modal-width);
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin)* 2);
}

.back {
  background-color: #008dcc;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  color: white;
}

.generate-header {
  font-weight: 700;
  margin-bottom: 25px;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 1;
  padding: 8px;
  border-bottom: 2px solid #ddd;
}

tbody td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.highlight-row {
  background-color: #f0f8ff;
}

.settings-page {
  border-radius: 8px;
  padding: 20px;
  width: 295px;
  height: 43vh;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 60px !important;
  box-sizing: border-box;
}

.settings-page>div {
  width: 100%;
}

.settingspage-wrapper>div {
  margin-bottom: 15px;
}

.settingspage-wrapper {
  width: 70%;
  margin: 0 auto;
}

.settings-page label {
  display: block;
  margin-left: 3px;
}

.from {
  margin-left: -255px !important;
}

.settings-page input,
.settings-page button {
  width: 100%;
  padding: 7px;
  border-style: ridge;
  border-radius: 4px;
  border-color: #acacac;
}

.genrep-btn button {
  padding: 7px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #008dcc;
  border: #0c8a2b;
  display: inline-block !important;
  transition: background-color 0.3s, transform 0.2s;
}

.genrep-btn button:hover {
  background-color: #0da52e;
  cursor: pointer;
}

.genrep-btn button:active {
  transform: scale(0.9);
}

.back-btn button {
  background-color: #d18a06;
  padding: 7px;
  border-radius: 4px;
  color: white;
  border: #0c8a2b;
  transition: background-color 0.3s, transform 0.2s;
}

.back-btn button:hover {
  background-color: #c2af07;
  cursor: pointer;
}

.back-btn button:active {
  transform: scale(0.9);
  background-color: #76c90b;
}

.error {
  justify-content: center;
  align-items: center;
}

.tab-header {
  background-color: #50c4fa;
  padding: 15px;
  width: 100%;
}

.container-fluid .table-striped>tbody>tr:nth-of-type(odd)>* {
  background-color: #ffffff;
  --bs-table-color-type: #ffffff;
  --bs-table-bg-type: #ffffff;
  color: black;
}

.container-fluid .table-striped>tbody>tr:nth-of-type(even)>* {
  background-color: #e2f0f7;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  opacity: 0;
  transition: opacity 4.3s ease;
}

.add-icon {
  margin-right: 2px;
}

.add-account {
  margin-left: 238px !important;
  transition: background-color 0.3s ease
}

.add-account button:hover {
  background-color: #22af10;
  transform: scale(0.95)
}

.add-account button {
  padding: 10px !important;
  width: 7vw;
  border: none !important;
  box-shadow: none;
  font-weight: 500;
  white-space: nowrap;
  outline: none;
  background-color: #0ebb39;
}

.actions {
  margin-left: 35px;
}

.accounts-edit {
  background: none;
  border: none;
  color: #0da52e;
}

.rotate-acc-icon {
  rotate: 180deg;
  transition: 0.3s all ease-in-out;
}

.bi-chevron-up {
  transition: 0.3s all ease-in-out;
}

.custom-accordion-btn {
  display: flex;
  justify-content: space-between;
  border: none;
  background: none;
  font-size: 16px;
  color: white;
}

.manage-table th {
  background-color: #4391f7 !important;
  position: sticky;
  top: 0;
  z-index: 1;
}

.emp-table thead{ 
  white-space: nowrap;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.accounts-table .table-striped>tbody>tr:nth-of-type(odd)>* {
  background-color: #ffffff;
  --bs-table-color-type: #ffffff;
  --bs-table-bg-type: #ffffff;
  color: black;
}

.accounts-table .table-striped>tbody>tr:nth-of-type(even)>* {
  background-color: #e2f0f7;
}

.table.table-striped.table-hover.table-bordered td,
.table.table-striped.table-hover.table-bordered th {
  padding: 4px;
}

.addhover {
  background-color: #0ebb39 !important;
  padding: 8px !important;
  color: white;
  border: none;
  border-radius: 4px;
  white-space: nowrap;
  font-weight: bold;
  font-size: small;
  width: 130px;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.addhover:hover {
  background-color: #22af10 !important;
}

.closebutton {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #757575;
  border: none;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  align-items: center;
  font-size: medium;
  width: 55px;
  justify-content: center;
  text-align: center;
}

.buttons1 {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.closebutton:hover {
  background-color: #807e7e;
}

.employee-header>div {
  display: flex !important;
  flex-wrap: wrap;
  justify-self: center;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.manage-anchor a {
  color: white;
  text-decoration: none;
  margin-left: 6px;
  display: flex;
  align-items: center;
  gap: 5px !important;
  margin-top: 12px;
  padding: 10px !important;
  border-radius: 2px;
  cursor: pointer;
  transform: translateX(-20px);
}

.manage-anchor svg {
  min-width: 20px;
  margin-right: 21px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
}

.managereport {
  overflow-y: scroll;
  height: calc(83.5vh - 144px);
  margin: 10px auto;
}

.employee-header svg {
  transform: translatey(-1px);
  margin-left: 3px;
}

.manageaccounts-bg {
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.2);
  margin: 20px auto;
  padding-bottom: 10px !important;
  border-radius: 4px;
  width: 100% !important;
  height: 830px;
}


.employee-header header {
  background-image: url("/img/Breaktool.png");
  padding: 20px;
  width: 88vw !important;
  margin-top: -15px !important;
  display: flex;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.employee-header h1 {
  color: white;
  font-weight: bolder;
}

.profile-div {
  border: 0.60px solid white;
  border-radius: 50%;
  height: 120px !important;
  width: 120px !important;
  margin-top: 100px;
}

.profile-picture {
  border-radius: 55%;
}

.username-label-profile {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-top: 15px;
}

.username input {
  color: black !important;
}

.inputpassword input {
  color: black !important;
}

.input-image {
  height: 20px;
  width: 100px;
  font-size: 10px;
  transform: translateY(-29px) translateX(-40px);
  position: absolute;
}

.dot-div {
  width: 90%;
  align-items: center;
  justify-content: flex-end;
}

.dot-div svg {
  margin-top: -60px;
}

.profile-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #05668d;
}

.employee-heade {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container-fluid {
  background-color: #e7e7e7;
}

.main-divv {
  background-color: #e7e7e7;
  padding-right: 1rem !important;
  padding-left: 1.3rem !important;
  flex: 1 1 100% !important;
  width: 0px !important;
}

.accounts-button {
  border: none;
  background: none;
  color: red;
  margin-left: 20px;
}

.addemp .row {
  width: 30vw;
}

.db-employee {
  display: flex;
}

.search-employee {
  position: absolute;
}

.search-employee input {
  margin-top: -4px;
}

.manageemployee-button button {
  border-radius: 4px;
  font-weight: 500;
  padding: 10px;
  white-space: nowrap;
  background-color: #0ebb39;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.manageemployee-button {
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.manageaccount-dashboard {
  display: flex;
}

.manageemployee-button button:hover {
  background-color: #22af10 !important;
}

.overbreak-red {
  color: red !important;
  font-weight: bold;
}

.row {
  padding-top: 40px;
}

.search-input {
  border-radius: 4px;
  padding-inline: 60px;
  border: 0;
  margin-left: 33vw !important;
  position: fixed;
  margin-right: 400px;
}

.search-input svg {
  position: fixed;
}

.search-div svg {
  top: 6px;
}

.select-departments {
  border-radius: 4px;
  padding-left: 20px;
  transform: translateX(800px);
}

.accounts-table {
  height: 91%;
  overflow-y: scroll;
  padding: 5px 5px 5px 0;
  margin: auto;
  width: 100%;
}

.employee-information {
  margin-left: 300px;
}

.employee-total p {
  padding: 7px;
  border-radius: 4px;
  color: rgb(88, 87, 87);
  right: 190px !important;
  position: relative;
  top: 13px;
}

.employee-pagination {
  position: absolute;
  right: 18px;
  top: 13px;
}

.manageemployee-div {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.tabemp {
  width: 100%;
  margin: auto;
}

.emp-table th {
  background-color: #4391f7 !important;
  color: #ffffff !important;
}

.emp-table {
  padding-top: 0px;
  position: relative;
  height: auto;
  overflow: auto;
}

.emp-table thead {
  position: sticky;
  padding: 15px;
  z-index: 10;
  transform: translateY(-1px);
}

.manage-tbody td {
  font-size: 500;
}

.manageemployee-division {
  background-color: white;
  margin: 20px auto;
  height: auto;
  width: 100%;
  padding-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.2);
}

.addemployee-button {
  padding: -10px;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.addemployee-button button:hover {
  background-color: #0da52e !important;
  transform: scale(0.95);
}

.manageemployee-background {
  background-color: white;
  margin-top: 30px;
  margin-left: 40px;
  height: 93vh;
  width: 84.5vw;
  border-radius: 4px;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.2);
}

.crud-maindiv {
  background-color: #e7e7e7;
  display: flex;
  width: 100%;
  height: 100%;
}

.crud-header {
  background-color: #1167b3;
  color: white;
  width: 80.9vw;
  margin-right: 40px;
  margin-left: 49px;
  padding: -20px !important;
  position: sticky;
  display: flex;
  margin-top: 30px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 10;
}

.manageemployee-title h1 {
  display: flex;
  margin-left: 20px;
  font-weight: bolder;
  white-space: nowrap;
  justify-content: center;
}

.manage-input input {
  position: relative;
}

.gobackbutton {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 5vw;
  border-radius: 4px;
  padding: 7px;
  box-shadow: none;
  outline: none;
  border: none;
  color: white;
  background-color: hsl(220, 2%, 32%);
}

.gobackbutton:active {
  transform: scale(0.95);
  background-color: #0077b3;
}

.add {
  font-size: medium;
  padding: 10px;
  padding-bottom: 7px;
  margin-right: 100px;
  outline: none;
  margin-left: 5px;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  background-color: #0ebb39;
  color: white;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.add:hover {
  background-color: #0c8a2b;
}

.add:active {
  transform: scale(0.95);
}

.add:focus {
  outline: none;
}

.ManageEmp {
  margin-left: 550px;
}


.update {
  outline: none;
  background-color: none;
  box-shadow: none;
  border: none;
  color: rgb(14, 206, 100);
}

.online {
  height: 15px;
  width: 15px;
  margin-left: 80px;
  border-radius: 50%;
  background-color: #00FF40;

}

.name {
  padding-top: 5px;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.delete {
  outline: none;
  background-color: none;
  box-shadow: none;
  border: none;
  color: rgb(245, 12, 12);
}

.edit-button {
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
  color: #45dd66;
}

.delete-button {
  border: none;
  box-shadow: none;
  outline: none;
  color: red;
  margin-left: 30px !important;
  background: none;
}

.schedule-button {
  border-radius: 4px;
  background-color: #008dcc;
  color: #ffffff;
  border: none;
  padding: 8px;
}

.blink {
  animation: blinkAnimation 1s steps(1, end) infinite,
    blink-animation 1s steps(5, start) infinite;
  background-color: #ffeeab;
  color: red;
  font-weight: bold;
  padding: 2px 4px;
}

.workforce .blink-row td {
  animation: blinkRowAnimation 1s steps(1, end) infinite,
    blink-animation 1s steps(5, start) infinite;
  background: #ffeeab;
}

.workforce-div {
  padding-left: 1.3rem !important;
  padding-right: 1rem;
  width: 0px;
  flex: 1 1 100%;
}

.db {
  box-shadow: 0px 0px 1px rgb(87, 86, 86);
  background-color: #007ea7;
  padding: 10px;
  display: flex;
  flex-direction: column;
  z-index: 20;
  min-height: 100vh;
}

.navigation-division {
  margin-bottom: 30px;
  margin-left: 40px;
  transform: translateY(-10px);
  overflow: hidden;
}

.dashboard svg {
  margin-left: -3px;
  align-items: center;
  transition: background-color 0.3s ease, padding 0.3s ease, color 0.3s ease;
}

.dash {
  transform: translateY(3px) translateX(10px);
  margin-left: -12px;
}

.dashboard a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.dashboard {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 5px;
  color: rgb(255, 255, 255);
  border-radius: 2px;
  margin-top: 10px;
  transition: background-color 0.3s ease, padding 0.3s ease, color 0.3s ease;
}

.dashboard:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0) !important;
}

.dashboard:hover button,
.dashboard:hover a {
  color: rgb(0, 0, 0) !important;
}

.dashboard:hover svg {
  fill: rgb(0, 0, 0);
}

.upload-prof {
  display: grid;
}

.dashboard:active {
  background-color: #ffffff;
  color: white !important;
}

.dashboard:active svg {
  fill: rgb(0, 0, 0);

}

/* dashboard view report  */
.generate svg {
  margin-right: 24px;
  align-items: center;
  fill: rgb(255, 255, 255);
  transition: background-color 0.3s ease, padding 0.3s ease, color 0.3s ease;
}

.generate a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.generate {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 5px;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.3s ease, padding 0.3s ease, color 0.3s ease;
}

.generate:hover {
  background-color: #53a2be;
}

.generate button {
  border: none;
  background: transparent;
  color: white;
}

.manage-div {
  margin-top: 5px;
}

.manage-nav {
  display: flex;
  align-items: center;
  gap: 19px;
}

.logout-hover {
  display: flex !important;
  align-items: center;
  padding: 10px;
  margin-top: 5px;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.3s ease, padding 0.3s ease, color 0.3s ease;
}

.logout-hover:hover {
  background-color: #53a2be;
}

.logout-hover svg {
  margin-right: 20px;
  fill: rgb(255, 255, 255);
}

.updatepassword-hover {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 5px;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  height: 45px;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.updatepassword-hover:hover {
  background-color: #53a2be;
}

/* Existing styles */
.admin {
  display: flex;
  align-items: center;
  margin-left: 5px;
  color: black;
  border-radius: 2px;
  transition: background-color 0.3s ease, padding 0.3s ease, color 0.3s ease;
}

.accordion-collapse:not(.show) .admin {
  background: none !important;
}

.accordion-collapse:not(.show) .admin a {
  background: none !important;
  color: black !important;
}

.admin svg {
  align-items: center;
  transition: background-color 0.3s ease, padding 0.3s ease, color 0.3s ease;
  margin-right: 20px;
  fill: black;
}

.admin a {
  align-items: center;
  text-decoration: none;
}

.admin:hover {
  background-color: #2193df;
}

.admin:hover button {
  color: white !important;
}

.admin:hover svg {
  fill: white;
}

.admin:active {
  background-color: #1a74b8;
  color: white !important;
}

.admin:active svg {
  fill: white;
}

.employee-anchor a {
  color: white;
  text-decoration: none;
  padding: 10px;
  align-items: center;
  gap: 5px;
  margin-left: -15px;
  margin-bottom: -13px;
  margin-top: 5px !important;
  display: flex;
}

.schedule-employee {
  gap: 65px;
  padding: 20px 20px 1px 20px;
}
.sched-button  button{
  border-radius: 4px;
  font-weight: 500;
  padding: 7px;
  white-space: nowrap;
  background-color: #0ebb39;
  border: none;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 40px;
  margin-top: 3px;
}

.time {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-image: url(/img/Breaktool.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: sticky;
  padding: 10px;
  color: white;
  width: 100%;
  justify-content: space-between;
}

.time div {
  display: flex;
  gap: 3px;
  align-items: center;
}

.time input[type="time"] {
  padding: 6px 10px;
  border: 2px solid #cccccc;
  border-radius: 6px;
  font-size: 14px;
  height: 38px;
  transition: border 0.2s ease-in-out, box-shadow 0.2s;
  background-color: #ffffff; /* soft neutral background */
}

.time input[type="time"]:focus {
  outline: none;
  border-color: #0d6efd;
  
  box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
  background-color: #ffffff; /* subtle change on focus */
}
.time label {
  font-weight: 500;
  color: #ffffff;
}


.time-input {
  padding: 6px 12px;
  font-size: 14px;
  height: 38px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s;
  color: #333;
}

.time-input:focus {
  border-color: #74a3e9;
  background-color: #fff;
  outline: none;
  box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
}

.form-label {
  font-weight: 600;
  color: #615959;
  margin-bottom: 4px;
}
.rep-label {
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 4px;
}


.employee-anchor svg {
  min-width: 20px;
  min-height: 20px;
  margin-right: 21px;
  max-width: 20px;
  max-height: 20px;
}
.undermanage-hover a.default-width {
  width: 9vw !important;
}

.undermanage-hover a.condensed-width {
  width: 2vw !important;
}

.undermanage-hover a:hover {
  background-color: #53a2be;
  color: white;
}

.undermanage-hover a.default-width {
  width: 9vw !important;
}

.undermanage-hover a.condensed-width {
  width: 2vw !important;
}

.undermanage-hover a:hover {
  background-color: #53a2be;
  color: white;
}

.admin .accordion-button:hover {
  background-color: #2193df;
  color: white;
}

.admin .accordion-button:active {
  background-color: #2193df;
  color: white;
}

.manage-hover {
  width: 97.5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  padding: 8px;
  margin-left: 5px;
  border-radius: 2px;
  margin-top: -0;
  margin-bottom: -0;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.manage-hover a {
  display: block;
  text-decoration: none;
}

.manage-hover:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0) !important;
  cursor: pointer;
}

.manage-menu:hover {
  background-color: #53a2be;
  cursor: pointer;
}

.manage-menu a {
  border-radius: 2px;
}

.manage-menus {
  padding: 10px;
  border-radius: 2px;
  color: #000000;
  cursor: pointer;
}

.manage-menus:hover {
  background-color: #53a2be;
  cursor: pointer;
}

.manage-menus a {
  border-radius: 2px;
}

.manage-menu {
  overflow: hidden;
}

.prof-hover:hover {
  border-radius: 2px;
  color: white !important;
  background-color: white !important;
}

.no-hover:hover {
  background-color: transparent !important;
  cursor: default !important;
}

.accordion-item {
  border: none !important;
  background-color: transparent !important;
}

.accordion-button {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  outline: none !important;
  color: black !important;
}

.accordion-button:hover {
  background-color: transparent !important;
}

.accordion-button:focus,
.accordion-button:active {
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent !important;
}

.crud-maindiv .table-striped>tbody>tr:nth-of-type(odd)>* {
  background-color: #ffffff;
  --bs-table-color-type: #ffffff;
  --bs-table-bg-type: #ffffff;
  color: black;
}

.crud-maindiv .table-striped>tbody>tr:nth-of-type(even)>* {
  background-color: #e8f5f8;
}

.nav-link:hover {
  background-color: #2193df;
  color: #ffffff !important;
  border-radius: 5px;
  padding-left: 10px;
}

.forminput input {
  display: block;
  outline-color: #000000;
  background: none;
  border-radius: 4px;
  padding: 10px;
  margin-left: 80px;
  margin-bottom: 20px;
}

.forminput label {
  margin-left: 80px;
}

.dbcreatebutton {
  display: block;
  border: none;
  box-shadow: none;
  background: none;
}

.createaccount {
  display: block;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #32b8f7;
  border-radius: 4px;
  padding: 10px;
  margin-left: 80px;
  width: 200px;
  margin-bottom: 20px;
}

.createbackbutton {
  display: block;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #0c8a2b;
  border-radius: 4px;
  padding: 10px;
  margin-left: 100px;
  margin-left: 80px;
  width: 200px;
  margin-bottom: 25px;
}

/* viewreports */
.report-input {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.report-input input {
  padding: 8px 12px 8px 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #000000;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

.report-input svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #888;
}

.reports-container th {
  background-color: #4391f7 !important;
  color: white !important;
}

.reports-division {
  padding-left: 1.3rem;
  padding-right: 1rem;
  width: 0;
}

.download-reports button {
  width: 6vw !important;
  display: flex;
  margin-bottom: 40px;
  margin-top: -40px;
  position: fixed;
  margin-right: 10px;
}

.download {
  display: flex;
  align-items: center;
  gap: 8px;
  outline: none;
  border: none;
  background-color: #0ebb39;
  color: white;
  padding: 6px;
  border-radius: 4px;
  justify-content: center;
  margin-right: 10px !important;
  transition: background-color 0.3s ease
}

.download:hover {
  background-color: #22af10;
  transform: scale(0.95)
}

.viewreports {
  text-decoration: none;
  background-color: #0ebb39;
  width: 9.5vw;
  padding: 9px;
  padding-left: 15px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 0;
}

.dailyreports {
  margin-left: 40vw;
}

.viewback {
  margin-left: 20px;
  padding: 7px;
  width: 5vw;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: rgb(73, 70, 70);
}

.container {
  display: flex;
}

.header-text-container {
  background-image: url("/img/Breaktool.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.reportheader {
  position: relative;
  width: 100%;
}

.main-page {
  position: relative;
  min-height: 100vh;
  height: 100%;
  background-color: #e7e7e7;
}

.dashboard-menu {
  position: absolute;
  z-index: 10;
  overflow: scroll;
}

.viewdashboard {
  position: fixed;
  left: 0;
}

.manageaccounts-header {
  width: 100%;
  padding-left: 1.3rem;
  padding-right: 1rem;
}

/* manage department */
.manage-department {
  width: 0px !important;
  flex: 1 1 100%;
}

.accounts-margin {
  padding-left: 1.3rem;
  padding-right: 1rem;
}

.manage-header {
  margin-left: 750px;
}

.manageaccounts-div {
  background-color: #e7e7e7;
}

@keyframes blinkAnimation {
  0% {
    background: #ffeeab;
  }

  50% {
    background-color: #ffeeab;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.no-blink-row {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.form-control {
  position: relative;
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-control::after {
  content: "\1F4C5";
  /* 📅 calendar icon */
  position: absolute;
  top: 50%;
  left: calc(100% - 31px);
  transform: translateY(-50%);
  font-size: 18px;
  color: black !important;
  pointer-events: none;
}

.arrow-btn {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 35px;
  width: 35px;
  padding: 0;
  margin: auto;
  margin-right: -26px;
  border-radius: 50% !important;
  background-color: whitesmoke !important;
  border: 2px solid rgb(197, 190, 190) !important;
}

.arrow-img {
  color: #6c757d;
  margin-top: -5px;
  margin-left: -3px;
}

.transition-icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.rotate-left {
  transform: rotate(0deg);
}

.rotate-right {
  transform: rotate(180deg);
}

.add-account-form {
  width: 100%;
}

.account-div {
  background-color: white;
  width: 100%;
}

.create-div {
  width: 100%;
}

.search-division {
  position: relative;
  min-width: 0;
  flex: 1;
}

.search-division svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-40%);
  pointer-events: none;
  color: #888;
}

.accounta-table-div {
  position: relative;
}

.accounta-table-div th {
  color: #ffffff !important;
  padding: 15px !important;
  width: 200px;
}

.accounta-table-div thead {
  position: sticky;
  transform: translateY(-12px);
  z-index: 10;
}

.th-manager {
  color: white;
  padding: 15px;
  width: 50% !important;
}

.th-action {
  color: white;
  width: 100px;
}

.emp-plus {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #FAA0A0;
  color: red;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage-account-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  height: 40px;
}

.updatelogo {
  margin-left: 35px;
  height: 50px;
}