/* @import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Cinzel:wght@400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+IN:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html,
body {
  max-width: 100vw;
  background-color: #e7e7e7;
}

body {
  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.workforce {
  height: 100%;
  width: 100%;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

/* LOG IN FORM */

.password-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  max-width: 300px;
  background-color: #f9f9f9;
}

.password-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
}

.toggle-password-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  font-size: 20px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.toggle-password-button:hover {
  color: #333;
}

.password-input:focus {
  background-color: #fff;
}

.main-div {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url("/img/Group5.png"), url("/img/Group4.png");
  background-repeat: no-repeat;
  background-size: 20% auto, 20% auto;
  background-position: 38% 25%, 58% 75%;
}

.login-div {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 5px rgb(87, 86, 86);
  backdrop-filter: blur(-50px);
  border-radius: 8px;
  padding: 20px 20px 85px 20px;
  width: 20vw !important;
  height: 46vh !important;
  justify-content: center;
  align-items: center;
  border: none !important;
  outline: none !important;
}

.login-div label {
  color: rgb(58, 58, 58);
  display: block;
}

.login-div img {
  width: 85%;
  margin-top: 1px;
  margin-bottom: 35px;
}

.login-div input {
  font-size: 14px;
  padding: 10px !important;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 20px;
  outline: none;
  width: 17vw;
}

input:focus {
  border-color: #0a63d8;
}

.eye {
  position: absolute;
  border: none;
  background-color: transparent;
  box-sizing: none;
  cursor: pointer;
  margin-left: 290px;
  margin-top: 12px;
}

.inp-lab input {
  background-color: white !important;
}

.button-div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: -14px;
}

.button-login {
  background-color: #008dcc;
  color: #ffffff;
  border: none;
  padding: 10px !important;
  border-radius: 4px !important;
  cursor: pointer;
  font-weight: 600;
  padding-top: 5px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-login:hover {
  background-color: #0274a8;
}

.button-login:active {
  transform: scale(0.95);
  background-color: #1fe651;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

.modal .error-message {
  color: red;
  margin-left: 15px;
  margin-bottom: 15px;
}


.success-message {
  color: rgb(6, 168, 46);
  text-align: center;
  margin-bottom: 15px;
}

/* SEARCH BAR */
.headerbreaktool {
  margin-top: -20px !important;
}

.headerdown {
  margin-top: -5px !important;
}

.headerbreaktool {
  color: white;
  justify-content: center;
  text-align: center;
  transform: translateY(-85px);
  font-size: 60px;
  font-weight: 850;
  margin-top: -15px;
}

.headerdown {
  color: white;
  justify-content: center;
  text-align: center;
  transform: translateY(-99px);
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
  font-style: italic;
}

.header {
  background-color: #ffffff;
  height: 80px;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 50px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.left-section {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 300px;
  height: auto;
  margin-right: 20px;
}

.searchbar-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.searchbar-container {
  position: relative;
  justify-content: center;
  align-items: center;
}


.searchbar {
  max-width: 330px;
  margin-top: 1px;
  width: 25rem;
  padding: 5px 5px 10px 65px !important;
  border-radius: 5px;
  border: 2px solid #ccc;
  box-shadow: 0 2px 4px rgba(97, 97, 97, 0.1);
  background-color: white;
}

.searchbar:focus {
  color: #000000;
}

.bi-search {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #8b8b8b;
  width: 28px;
  height: 28px;
  background-color: rgb(216, 216, 216);
  border-radius: 20px;
}

.agent-header {
  text-align: left !important;
  width: 400px;
  margin: 0;
}

/* header-icons */
.create-update-delete {
  justify-content: flex-start;
  margin-right: 20px;
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
  margin-top: 10px;
}

.right-section {
  display: flex;

  margin-right: 7rem;
  border-radius: 50px;
}

.dropbtn button {
  display: block;
}

.dropdown {
  position: relative;
  display: flex;
}

.dropbtn {
  background-color: transparent;
  border: none;
  margin-right: 20-px;
  margin-top: 5px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  right: 0;
  /* Align dropdown content to the right */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
  /* Text aligned to the left inside the dropdown */
  display: block;
}

.dropdown-content a:hover {
  background-color: #d8d7d7c9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #d8d7d7c9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  right: 0;
  /* Align dropdown content to the right */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
  /* Text aligned to the left inside the dropdown */
  display: block;
}

/* breaks div */

.breaks-div {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
  margin-left: 30px;
  margin-right: 60px;
  width: 85.7vw;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -77px !important;
  padding-bottom: 5px !important;
}

.breaks-div.fullscreen {
  margin: 0;
  position: fixed;
  padding-top: 80px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 120vh;
}

/* logs main div */

.logs-wrapper .table-striped>tbody>tr:nth-of-type(odd)>* {
  background-color: #ffffff;
  --bs-table-color-type: #ffffff;
  --bs-table-bg-type: #ffffff;
  color: black;
}

.logs-wrapper .table-striped>tbody>tr:nth-of-type(even)>* {
  background-color: #e2f0f7;
}

.table-striped th {
  background-color: #4cbdff;
}

.logs-maindiv {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 85.7vw;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 18px;
  margin-bottom: 20px;
  position: relative;
}

.logs-table {
  margin-bottom: 10px;
}

.logs-headername {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.searchbarlogs {
  position: relative;
}

.searchbarlogs input {
  padding: 5px 70px 10px !important;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
  background-color: #f0f0f0;
  border: 2px solid lightgray;

}



/* Dropdown Button */
.dropbtn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border-radius: 30px;
  border: none;
  position: relative;
}

/* account  */
.login-division {
  margin-left: 30px;
}

/* generate report */
.report-header {
  white-space: nowrap;
}

.report-data td {
  white-space: nowrap;
}


.background-report {
  border-radius: 4px;
  margin-top: 130px;
  height: 84vh;
  margin-left: -65px;
  width: 85.6vw;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.2);
}

.daterange-button {
  margin-left: 10px;
  width: 70px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #0ebb39;
  transition: background-color 0.3s ease
}

.daterange-button:hover {
  background-color: #22af10;
  transform: scale(0.95)
}

.table-data {
  font-size: smaller;
}

.input-daterange {
  display: flex;
}

.start {
  display: flex;
}

.start label {
  margin-right: 5px;
  margin-top: 5px;
}

.end {
  display: flex;
}

.end label {
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 5px;
}

.report-button button {
  background-color: #0ebb39;
  margin-left: 5px;
}

.modal-dialog {
  --bs-modal-width: 20vw;
  max-width: var(--bs-modal-width);
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin)* 2);
}

.back {
  background-color: #008dcc;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  color: white;
}

.generate-header {
  font-weight: 700;
  margin-bottom: 25px;
}

.table-container {
  max-height: 400px;
  /* Adjust height as needed */
  overflow-y: auto;
  /* Enable vertical scrolling */
  border: 1px solid #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  position: sticky;
  top: 0;
  /* Stick to the top */
  background-color: #f8f9fa;
  /* Background to make it stand out */
  z-index: 1;
  /* Ensure it stays above the scrollable content */
  padding: 8px;
  border-bottom: 2px solid #ddd;
}

tbody td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.highlight-row {
  background-color: #f0f8ff;
}

.settings-page {
  border-radius: 8px;
  padding: 20px;
  width: 295px;
  height: 43vh;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 60px !important;
  box-sizing: border-box;
}

.settings-page>div {
  width: 100%;
}

.settingspage-wrapper>div {
  margin-bottom: 15px;
}

.settingspage-wrapper {
  width: 70%;
  margin: 0 auto;
}

.settings-page label {
  display: block;
  margin-left: 3px;
}

.from {
  margin-left: -255px !important;
}

.settings-page input,
.settings-page button {
  width: 100%;
  padding: 7px;
  border-style: ridge;
  border-radius: 4px;
  border-color: #acacac;
}

.genrep-btn button {
  padding: 7px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #008dcc;
  color: white;
  border: #0c8a2b;
  display: inline-block !important;
  transition: background-color 0.3s, transform 0.2s;
}

.genrep-btn button:hover {
  background-color: #0da52e;
  cursor: pointer;
}

.genrep-btn button:active {
  transform: scale(0.9);
}

.back-btn button {
  background-color: #d18a06;
  padding: 7px;
  border-radius: 4px;
  color: white;
  border: #0c8a2b;
  transition: background-color 0.3s, transform 0.2s;
}

.back-btn button:hover {
  background-color: #c2af07;
  cursor: pointer;
}

.back-btn button:active {
  transform: scale(0.9);
  background-color: #76c90b;
}

.error {
  justify-content: center;
  align-items: center;
}

.tab-header {
  background-color: #50c4fa;
  padding: 15px;
  width: 100%;
}

.container-fluid .table-striped>tbody>tr:nth-of-type(odd)>* {
  background-color: #ffffff;
  --bs-table-color-type: #ffffff;
  --bs-table-bg-type: #ffffff;
  color: black;
}

.container-fluid .table-striped>tbody>tr:nth-of-type(even)>* {
  background-color: #e2f0f7;
}

.table-striped th {
  background-color: #4cbdff;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  opacity: 0;
  /* Initially hidden */
  transition: opacity 0.3s ease;
  /* Smooth fade-in/fade-out effect */
}

.add-icon {
  margin-right: 2px;
}

.add-account {
  margin-left: 238px !important;
  transition: background-color 0.3s ease
}

.add-account button:hover {
  background-color: #22af10;
  transform: scale(0.95)
}

.add-account button {
  padding: 10px !important;
  width: 7vw;
  border: none !important;
  box-shadow: none;
  font-weight: 500;
  white-space: nowrap;
  outline: none;
  background-color: #0ebb39;

}

.actions {
  margin-left: 35px;
}

.accounts-edit {
  background: none;
  border: none;
  color: #0da52e;
}

.rotate-acc-icon {
  rotate: 180deg;
  transition: 0.3s all ease-in-out;
}

.bi-chevron-up {
  transition: 0.3s all ease-in-out;
}

.custom-accordion-btn {
  display: flex;
  justify-content: space-between;
  border: none;
  background: none;
  font-size: 16px;
  color: white;
}

.manage-table th {
  background-color: #4391f7 !important;
  position: sticky;
  top: 0;
  /* Makes the header stick to the top */
  background-color: #fff;
  /* Make sure the header has a solid background */
  z-index: 1;
}

table {
  border-collapse: collapse;
  /* Ensures borders are collapsed together */
  width: 100%;
  /* Optional: adjust the table width */
}

.manage-tbody td,
.manage-tbody th {
  padding: -45px !important;
  /* Adjust padding for cells */
}

.manage-tbody {
  font-size: 11px;
  /* Font size adjustment */
}

.table.table-striped.table-hover.table-bordered td,
.table.table-striped.table-hover.table-bordered th {
  padding: 4px;
  /* Adjust this value to your desired padding */
}



.addhover {
  background-color: #0da52e !important;
  padding: 7px !important;
  color: white;
  border: none;
  margin-left: 76.4vw !important;
  border-radius: 4px;
  font-weight: 500;
}

.manageaccounts-bg {
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.2);
  margin-top: -53px;
  padding-bottom: 10px !important;
  padding-top: 15px !important;
  margin-left: 30px;
  border-radius: 4px;
  width: 85.7vw;
}

.manage-table {
  margin-left: 15px;
  margin-top: -10px;
  width: 82vw !important;
}

.employee-header button {
  margin-left: 40vw;
}

.employee-header header {
  background-image: url("/img/Breaktool.png");
  padding: 20px;
  width: 88vw !important;
  margin-top: -15px !important;
  display: flex;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.employee-header h1 {
  color: white;
  font-weight: bolder;
}

.employee-heade {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container-fluid {
  background-color: #e7e7e7;
}

.main-divv {
  width: calc(100% - 177px);
  background-color: #e7e7e7;
}

.accounts-button {
  border: none;
  background: none;
  color: red;
  margin-left: 20px;
}


.addemp .row {
  width: 30vw;
}

.db-employee {
  margin-left: 0;
}

.searchbar-containerr {
  margin-top: -38px;
  margin-left: 33vw;
}

.searchbar-containerr svg {
  margin-top: -24px;
  margin-left: 33vw;
}

.searchbar-container1 {
  margin-top: -2px;
  margin-left: 425px
}

.searchbar-container1 svg {
  margin-top: -112px;
  margin-left: 645px;
}


.search-employee {
  position: absolute;
}

.search-employee input {
  margin-top: -49px;
}

.manageemployee-button {
  margin-top: -45px;
  margin-left: 390px;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.manageemployee-button button:hover {
  background-color: #22af10 !important;
  transform: scale(0.9);
}

.overbreak-red {
  color: red !important;
  font-weight: bold;
}

.row {
  padding-top: 40px;
}

.search-input {
  border-radius: 4px;
  padding-inline: 60px;
  border: 0;
  margin-left: 33vw !important;
  position: fixed;
  margin-right: 400px;
}

.search-input svg {
  position: fixed;
}

.search-div {
  position: absolute;
  margin-left: 600px;
}

.select-departments {
  border-radius: 4px;
  padding-left: 20px;
  transform: translateX(800px);
}

.employee-information {
  margin-left: 300px;
}

.employee-pagination nav {
  margin-top: 77.5vh;
  margin-right: 100px;
}

.employee-total p {

  margin-top: 77.5vh;
  padding: 6px;
  border-radius: 4px;
  color: rgb(88, 87, 87);
  margin-right: 10px;
}

.manageemployee-title h1 {
  font-weight: bolder;
  justify-content: center;
  display: flex;
}

.manageemployee-division {
  background-color: white;
  margin-top: 120px;
  margin-left: 246px;
  height: 86vh;
  width: 85.7vw;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.2);

}


.addemployee-button {
  padding: -10px;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.addemployee-button button:hover {
  background-color: #0da52e !important;
  transform: scale(0.95);
}

.manageemployee-background {
  background-color: white;
  margin-top: 30px;
  margin-left: 40px;
  height: 93vh;
  width: 84.5vw;
  border-radius: 4px;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.2);
}

.crud-maindiv {
  background-color: #266bc5;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.crud-header {
  background-color: #1167b3;
  color: white;
  width: 80.9vw;
  margin-right: 40px;
  margin-left: 49px;
  padding: -20px !important;
  position: sticky;
  display: flex;
  margin-top: 30px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  z-index: 10;
}

.manageemployee-title h1 {
  margin-left: 20px;
  font-weight: bolder;
  white-space: nowrap;
}

.manage-input input {
  position: relative;
}

.gobackbutton {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 5vw;
  border-radius: 4px;
  padding: 7px;
  box-shadow: none;
  outline: none;
  border: none;
  color: white;
  background-color: hsl(220, 2%, 32%);

}

.gobackbutton:active {
  transform: scale(0.95);
  background-color: #0077b3;
}

.edit-button {
  background: none;
  color: #45dd66;
}

.delete-button {
  background: none;

}

.add {
  font-size: medium;
  padding: 10px;
  padding-bottom: 7px;
  margin-right: 100px;
  border-radius: 2px;
  outline: none;
  margin-left: 5px;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  background-color: #0ebb39;
  color: white;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.add:hover {
  background-color: #0c8a2b;
}

.add:active {
  transform: scale(0.95);
}

.add:focus {
  outline: none;
}

.ManageEmp {
  margin-left: 550px;
}

.table {
  margin-right: 20px !important;
}

.update {
  outline: none;
  background-color: none;
  box-shadow: none;
  border: none;
  color: rgb(14, 206, 100);
}

.delete {
  outline: none;
  background-color: none;
  box-shadow: none;
  border: none;
  color: rgb(245, 12, 12);
}

.edit-button {
  border: none;
  box-shadow: none;
  outline: none;
  color: rgb(15, 150, 76);
}

.delete-button {
  border: none;
  box-shadow: none;
  outline: none;
  color: red;
  margin-left: 30px !important;
}

.blink {
  animation: blinkAnimation 1s steps(1, end) infinite,
    blink-animation 1s steps(5, start) infinite;
  background-color: #ffeeab;
  color: red;
  font-weight: bold;
  padding: 2px 4px;
}

.workforce .blink-row td {
  animation: blinkRowAnimation 1s steps(1, end) infinite,
    blink-animation 1s steps(5, start) infinite;
  background: #ffeeab;
}

.db {
  box-shadow: 0px 0px 1px rgb(87, 86, 86);
  background-color: #2590f3;
}

.dashboard svg {
  margin-left: -3px;
  align-items: center;
  transition: background-color 0.3s ease, padding 0.3s ease, color 0.3s ease;
  /* Updated transition */
}

.dashboard a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.dashboard {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 5px;
  color: rgb(255, 255, 255);
  border-radius: 2px;
  margin-top: 10px;
  transition: background-color 0.3s ease, padding 0.3s ease, color 0.3s ease;
  /* Updated transition */
}

.dashboard:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0) !important;
}

.dashboard:hover button,
.dashboard:hover a {
  color: rgb(0, 0, 0) !important;
}

.dashboard:hover svg {
  fill: rgb(0, 0, 0);
  /* Smooth fill change */

}

.dashboard:active {
  background-color: #ffffff;
  color: white !important;

}

.dashboard:active svg {
  fill: rgb(0, 0, 0);

}

/* dashboard view report  */

.generate svg {
  align-items: center;
  transition: background-color 0.3s ease, padding 0.3s ease, color 0.3s ease;
  /* Updated transition */
}

.generate a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.generate {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: 15px;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.3s ease, padding 0.3s ease, color 0.3s ease;
}

.generate:hover {
  background-color: #ffffff;
  color: #000000 !important;
}

.generate:hover button,
.generate:hover a {
  color: rgb(0, 0, 0) !important;
}

.generate:hover svg {
  fill: rgb(0, 0, 0);
}

.generate svg {
  margin-right: 20px;
  fill: rgb(255, 255, 255);
}

/* Existing styles */
.admin {
  display: flex;
  align-items: center;
  margin-left: 5px;
  color: black;
  border-radius: 2px;
  transition: background-color 0.3s ease, padding 0.3s ease, color 0.3s ease;
}

.accordion-collapse:not(.show) .admin {
  background: none !important;
}

.accordion-collapse:not(.show) .admin a {
  background: none !important;
  color: black !important;
}

.admin svg {
  align-items: center;
  transition: background-color 0.3s ease, padding 0.3s ease, color 0.3s ease;
  margin-right: 20px;
  fill: black;
}

.admin a {
  align-items: center;
  text-decoration: none;
}

.admin:hover {
  background-color: #2193df;
}

.admin:hover button {
  color: white !important;
}

.admin:hover svg {
  fill: white;
}

.admin:active {
  background-color: #1a74b8;
  color: white !important;
}

.admin:active svg {
  fill: white;
}

 .undermanage-hover a{
  border-radius: 2px !important;
  cursor: pointer !important;
  width: 10.3vw !important;
  transform: translateX(-20px);
}

.undermanage-hover a:hover {
  color: black !important;
  background-color: white;
}

.manage-hover:hover {
  background-color: lightgray;
  cursor: pointer;
}

.admin .accordion-button:hover {
  background-color: #2193df;
  color: white;
}

.admin .accordion-button:active {
  background-color: #2193df;
  color: white;
}

.manage-hover {
  width: 97.5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
  padding: 8px;
  margin-left: 5px;
  border-radius: 2px;
  margin-top: -0;
  margin-bottom: -0;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.manage-hover a {
  display: block;
  text-decoration: none;
}

.manage-hover:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0) !important;
  cursor: pointer;
}

.manage-menu:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0) !important;
  cursor: pointer;
}

.manage-menu a {
  border-radius: 2px;
}

.prof-hover:hover {
  border-radius: 2px;
  padding-top: 7px;
  color: #000000 !important;
  background-color: white !important;
}


.no-hover:hover {
  background-color: transparent !important;
  cursor: default !important;
}


.accordion-item {
  border: none !important;
  background-color: transparent !important;
}

.accordion-button {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  outline: none !important;
  color: black !important;
}

.accordion-button:hover {
  background-color: transparent !important;
}

.accordion-button:focus,
.accordion-button:active {
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent !important;
}

.crud-maindiv .table-striped>tbody>tr:nth-of-type(odd)>* {
  background-color: #ffffff;
  --bs-table-color-type: #ffffff;
  --bs-table-bg-type: #ffffff;
  color: black;
}

.crud-maindiv .table-striped>tbody>tr:nth-of-type(even)>* {
  background-color: #e8f5f8;
}

.nav-link:hover {
  background-color: #2193df;
  /* Light gray background */
  color: #ffffff !important;
  /* Blue text */
  /* transition: background-color 0.3s ease, color 0.3s ease; */
  border-radius: 5px;
  padding-left: 10px;
}

.accordion-button:hover {
  background-color: #32b8f7;
  /* Slightly darker gray */
  /* transition: background-color 0.3s ease; */
}

.forminput input {
  display: block;
  outline-color: #000000;
  background: none;
  border-radius: 4px;
  padding: 10px;
  margin-left: 80px;
  margin-bottom: 20px;

}

.forminput label {
  margin-left: 80px;
}

.dbcreatebutton {
  display: block;
  border: none;
  box-shadow: none;
  background: none;
}

.createaccount {
  display: block;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #32b8f7;
  border-radius: 4px;
  padding: 10px;
  margin-left: 80px;
  width: 200px;
  margin-bottom: 20px;
}

.createbackbutton {
  display: block;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #0c8a2b;
  border-radius: 4px;
  padding: 10px;
  margin-left: 100px;
  margin-left: 80px;
  width: 200px;
  margin-bottom: 25px;
}

/* viewreports */
.download-reports {
  display: flex;
  justify-content: flex-end;
}

.download-reports button {
  width: 6vw !important;
  display: flex;
  margin-bottom: 40px;
  margin-top: -40px;
  position: fixed;
  margin-right: 10px;
}

.download {
  outline: none;
  border: none;
  background-color: #0ebb39;
  color: white;
  padding: 7px;
  border-radius: 4px;
  justify-content: center;
  margin-right: 10px !important;
  transition: background-color 0.3s ease
}

.download:hover {
  background-color: #22af10;
  transform: scale(0.95)
}


.viewreports {
  text-decoration: none;
  background-color: #0ebb39;
  width: 9.5vw;
  padding: 9px;
  padding-left: 15px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: 0;
}

.dailyreports {
  margin-left: 40vw;
}

.viewback {
  margin-left: 20px;
  padding: 7px;
  width: 5vw;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: rgb(73, 70, 70);
}

.container {
  display: flex;
}

.reportheader {
  width: 100%;

  position: fixed;
}

.viewdashboard {
  position: fixed;
  left: 0;
}

.managereport {
  margin-left: 33px !important;
}


/* manage department */
.manage-department {
  width: calc(100% - 177px);
}


.manage-header {
  margin-left: 750px;
}

.manageaccounts-div {
  background-color: #e7e7e7;
}

.dash {
  margin-left: -12px;
}

@keyframes blinkAnimation {
  0% {
    background: #ffeeab;
  }

  50% {
    background-color: #ffeeab;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.no-blink-row {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}