@keyframes blink {
    0% {
      background-color: rgba(255, 0, 0, 0.3); /* Light red background */
    }
    50% {
      background-color: rgba(255, 0, 0, 0.1); /* Lighter red background */
    }
    100% {
      background-color:lightgreen; /* Light red background */
    }
  }
  
  .blink-background {
    animation: blink 0.80s infinite; /* Apply the blink animation */
  }